SECRET_KEY=dev-only-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,qubitmdm.online

DB_NAME=qubitmdm
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgis
DB_PORT=5432

GOOGLE_CLOUD_PROJECT_ID=your-gcp-project-id
AMAPI_CALLBACK_URL=https://your-domain.example.com/amapi/callback
AMAPI_SERVICE_ACCOUNT_FILE=/run/secrets/amapi-service-account.json
CSRF_TRUSTED_ORIGINS=https://qubitmdm.online
